/*
    Global styles
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @layer base {
    :root {
        --color-text-main: 15 23 42;
        --color-text-muted: 51 65 85;
        --color-bg-main: 241 245 249;
        --color-bg-muted: 226 232 240;
        --color-bg-hover: 203 213 225;
        --color-border-main: 100 116 139;
        --color-primary: 37 99 235;
    }
    html.dark {
        --color-text-main: 241 245 249;
        --color-text-muted: 203 213 225;
        --color-bg-main: 30 41 59;
        --color-bg-muted: 51 65 85;
        --color-bg-hover: 71 85 105;
        --color-border-main: 241 245 249;
        --color-primary: 96 165 250;
    }
 }
