---
import HeaderLink from './HeaderLink.astro';
---

<header class="mb-10 sm:mb-20">
	<nav class="mx-auto bg-muted w-fit rounded-md flex overflow-hidden">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
