---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];

const className = 'hover:bg-hover focus:bg-hover px-4 py-2 text-sm';
const activeClasses = 'text-primary border-primary border-b-2';
---

<a class:list={className} href={href} {...props}>
	<p class={isActive ? activeClasses : "text-main"}><slot /></p>
</a>
